@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 237;
  --background-end-rgb: 230, 230, 230;
  --hover-color: 236,72,153;
  --hr-color: black;
}

.markdown a {
  color: var(--hover-color);

  font-style: oblique;
}

.markdown a:hover {
  color: #db2777; 
}

.markdown > * {
  all: revert;
}

html.dark {
  --foreground-rgb: 245, 245, 237;
  --background-start-rgb: 245, 245, 237;
  --background-end-rgb: 230, 230, 230;
  --hr-color: 245, 245, 237;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.word-change {
  display: inline-block;
  transition: transform 0.5s, opacity 0.5s;
}

.word-change.changing {
  transform: translateY(5px);
  opacity: 0;
}

.word-container {
  display: inline-block;

  margin-left: 5px;
}

@keyframes gentle-zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.evening-sky-animation {
  animation: gentle-zoom 10s ease-in-out infinite alternate;
}

/* Ensure SVG text hover states work consistently */
svg text:hover {
  fill: rgb(236, 72, 153) !important;
}
