@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 237;
  --background-end-rgb: 230, 230, 230;
}

.markdown a {
  color: rgb(236, 72, 153);
  font-style: oblique;
}

.markdown a:hover {
  color: #db2777; 
}

.markdown > * {
  all: revert;
}

.markdown h1 {
  font-size: 1.5rem !important;
  font-weight: 800 !important;
  color: rgb(17, 24, 39) !important;
  margin-top: 1.5rem !important;
  margin-bottom: 0.75rem !important;
}

.markdown h2 {
  font-size: 1.25rem !important;
  font-weight: 600 !important;
  color: rgb(17, 24, 39) !important;
  margin-top: 1.25rem !important;
  margin-bottom: 0.5rem !important;
}

.markdown h3 {
  font-size: 1.15rem !important;
  font-weight: 600 !important;
  color: rgb(17, 24, 39) !important;
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
