@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 217, 217, 217;
  --background-end-rgb: 230, 230, 230;
}

.dark-mode {
  --foreground-rgb: 217, 217, 217;
  --background-start-rgb: 25, 23, 23;
  --background-end-rgb: 25, 23, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 230, 230, 230;
    --background-start-rgb: 25, 23, 23;
    --background-end-rgb: 25, 23, 23;
  }
} */

