@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 217, 217, 217;
  --background-end-rgb: 230, 230, 230;
  --hover-color: 236,72,153;
  --hr-color: black;
}

.markdown a {
  color: var(--hover-color);

  font-style: oblique;
}

.markdown a:hover {
  color: #db2777; 
}

.markdown > * {
  all: revert;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.word-change {
  display: inline-block;
  transition: transform 0.5s, opacity 0.5s;
}

.word-change.changing {
  transform: translateY(5px);
  opacity: 0;
}

.word-container {
  display: inline-block;

  margin-left: 5px;
}
